.banner-hire {
    background-image: url('../../../assets/img/call-to-action.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 509px;
    margin-bottom: 80px;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-hire .banner-filter {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #754EF9;
    filter: opacity(0.5);
}

.banner-hire .content { 
    width: 330px;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.banner-hire .content h1, .banner-hire .content p { 
    color: var(--background-main);
    margin-bottom: 35px;
}

.banner-hire .content .buttons {
    display: flex;
    flex-direction: column;
}

.banner-hire .content .buttons .plan {
    width: 180px;
    height: 50px;
    border: solid 1px var(--background-main);
    border-radius: 50px;
    cursor: pointer;
}

.banner-hire .content .buttons .download {
    color: var(--color-details);
    margin-bottom: 10px;

    transition: background-color 0.7s ease;
}

.banner-hire .content .buttons .download:hover{
    background-color: rgba(255, 255, 255, 0.7);
}

.banner-hire .content .buttons .hire-me {
    background-color: transparent;
    color: var(--background-main);

    transition: background-color 0.7s ease;
}

.banner-hire .content .buttons .hire-me:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border: solid 0.1px  rgba(255, 255, 255, 0.5);
}

@media(min-width: 768px){
    .banner-hire {
        height: 415px;
    }
    .banner-hire .content {
        width: 690px;
    }

    .banner-hire .content .buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 30px;
    }
}

@media(min-width: 1024px){
    .banner-hire {
        height: 480px;
    }
    
}


@media(min-width: 1366px){
    .banner-hire .content {
        width: 730px;
    }
}