.my-recent-works {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

.my-recent-works .apresentation {
    max-width: 610px;
    margin-bottom: 50px;
}

.my-recent-works .apresentation h1 {
    margin-bottom: 20px;
}

.my-recent-works ul {
    list-style: none;
    display: grid;
    row-gap: 30px;
    margin: 0 auto;
}

.my-recent-works li {
    width: 100%;
    max-width: 360px;
    background-color: var(--background-secundary);
    justify-self: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
}


.my-recent-works li > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.my-recent-works li > img:not(:first-child){
    display: none;
}

.my-recent-works li > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    background-color: var(--background-modal);
    
    grid-template-rows: 1fr 1fr;
    row-gap: 20px;
    align-items: flex-end;
    justify-content: center;
    
    display: none;
    opacity: 0;
}

.my-recent-works li:hover > div {
    display: grid;
    opacity: 1;

    transition: opacity 0.7s ease;
}


.my-recent-works li  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-recent-works li .title h5 {
    color: var(--background-main);
    font-weight: 400;    
    line-height: 2;

    animation-name: TopToLow;
    animation-duration: 0.7s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.my-recent-works li .title div {
    width: 60px;
    height: 2px;

    background-color: var(--background-main);
}

.my-recent-works li .icons {
    width: 360px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;

    align-self: flex-start;


    /*animation*/
    position: relative;
}

.my-recent-works li .icons div {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50px;
    height: 50px;
    border: 1px solid var(--background-main);
    border-radius: 50%;

    cursor: pointer;
    transition: background-color 0.5s ease;
}

.my-recent-works li .icons div:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.my-recent-works li .icons div:first-child {
    animation-name: LeftToRight;
    animation-duration: 0.7s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.my-recent-works li .icons div:not(:first-child){
    animation-name: RightToLeft;
    animation-duration: 0.7s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.my-recent-works li .icons div i {
    font-size: 25px;
    color: var(--background-main);
}

@media(min-width: 768px){
    .my-recent-works ul{
        grid-template-columns: 1fr 1fr;
        column-gap: 30px;
        max-width: 750px;
        align-self: center;
    }
}

@media(min-width: 1280px){
    .my-recent-works .apresentation {
        max-width: 710px;
    }
    .my-recent-works ul {
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 1144px;
    }
}