.my-services {
    margin-bottom: 80px;
    max-width: calc(100vw - 5%);
}

.my-services .apresentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 76px;
}
.my-services .apresentation h1 {
    margin-bottom: 20px;
}
.my-services .apresentation p {
    text-align: center;
    max-width: 535px;
}
.my-services ul {
    display: grid;
    row-gap: 30px;
    max-width: 1122px;
}

.my-services ul li {
    list-style: none;
    text-align: center;
    border: 1px solid var(--border-cards);
    max-width: 360px;
    height: 100%;
    padding: 15px;

    justify-self: center;
}

.my-services ul li i {
    font-size: 6.0rem;
    margin-bottom: 17px;
}

.my-services ul li h5 {
    margin-bottom: 17px;
}

@media(min-width: 768px){
    .my-services .apresentation p {
        max-width: 510px;
    }

    .my-services ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
}

@media(min-width: 900px) {
    .my-services .apresentation p {
        max-width: 730px;
    }

    .my-services ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        
        gap: 25px;

        cursor: pointer;
    }

    .my-services ul li {
        transition: box-shadow 0.7s ease;
    }

    .my-services ul li:hover {
        box-shadow: 0px 0px 21px 0px rgba(152, 152, 152, 0.23)
    }

    .my-services ul li h5 {
        transition: color 0.7s ease;
    }

    .my-services ul li h5:hover {
        color: var(--opening-words);
    }
}

@media(min-width: 1280px){
    .my-services ul {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media(min-width: 1366px){
    .my-services ul {
        column-gap: 20px;
    }
}