.unfold-header {
    margin-bottom: 70.5px;
}

.unfold-header > .container {
    position: fixed;
    z-index: 99;
    width: 100%;
    padding: 30px 0;
    background-color: var(--background-main);
    box-shadow: 0px 0px 24px 0px rgba(134, 134, 134, 0.25);
}
.unfold-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
}

.unfold-header .logo {
    height: 50px;
}

#btn-menu {
    display: none;
}
.hamburguer {
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 999;
    cursor: pointer;
}
.hamburguer::after, 
.hamburguer::before {
    content: '';
    background-color: var(--color-details);
    width: 100%;
    height: 3px;

    position: absolute;
    top: 8.5px;

    transition: 0.7s ease;
}

.unfold-navigation .hamburguer::before {
    top: 18.5px;
}

#btn-menu:checked + .hamburguer::after, 
#btn-menu:checked + .hamburguer::before {
    background-color: #fff;
    top: 50%;
}

#btn-menu:checked + .hamburguer::after {
    transform: rotate(225deg);
}

#btn-menu:checked + .hamburguer::before {
    transform: rotate(-225deg);
}

.unfold-navigation .menu {
    position: absolute;
    top: 0;
    right: -100%;
    width: 65%;
    max-width: 250px;
    height: 100vh;
    background-color: var(--color-details);
    padding-top: 88px;
    transition: 0.7s ease;
}

.menu.active {
    right: 0%;
}

.unfold-navigation .menu li {
    
}

.unfold-navigation .menu li a{
    display: block;
    text-align: center;
    transition: 0.7s ease;
    color: var(--background-secundary);
    position: relative;
    padding: 10px 10px;
}

.unfold-navigation .menu li:hover > a{
    color: var(--background-main);
    transform: scale(1.09);
}

.unfold-navigation .menu li > a::after {
    content: '';
    position: absolute;
    bottom: 3px;
    left: 50%;
    background-color: var(--background-main);
    width: 0px;
    height: 2px;
    transition: 0.7s ease;
}

.unfold-navigation .menu li:hover > a::after {
    left: calc(50% - 60px);
    width: 120px;
}

/*Muda navbar*/
@media(min-width: 1280px){
    .unfold-navigation .hamburguer {
        display: none;
    }
    .unfold-navigation .menu {
        display: flex;
        padding: 0;
        position: static;
        width: unset;
        height: unset;
        max-width: unset;
        background-color: unset;
    }
    .unfold-navigation .menu li a {
        padding: 16px 24px;
        color: var(--text-paragraphs);
    }
    .unfold-navigation .menu li:hover > a {
        color: var(--color-details);
    }
    .unfold-navigation .menu li > a::after {
        content: '';
        position: absolute;
        top: -31px;
        left: 50%;
        background: linear-gradient(45deg, var(--color-details), #0000);
        width: 2px;
        height: 0px;
        transition: 0.7s ease;
    }
    .unfold-navigation .menu li:hover > a::after {
        left: 50%;
        width: 2px;
        height: 38px;
    }
}