.unfold-header .unfold-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 115px;
    padding: 30px 15px;
    background-color: var(--background-main);
    box-shadow: 0px 0px 24px 0px rgba(134, 134, 134, 0.25);
    
    position: fixed;
    z-index: 99;
}

.unfold-header .logo {
    height: 50px;
}

.unfold-header .unfold-navigation button {
    border: none;
}

.unfold-header .unfold-navigation button .lni-menu,
.unfold-header .unfold-navigation button .lni-close {
    font-size: 32px;
    background-color: var(--background-main);
}

.unfold-header .unfold-navigation nav {
    display: none;
}

.unfold-header .unfold-navigation nav .container {
    width: 100%;
    height: 100%;
    padding: 3px 12px;
    background-color: var(--background-main);
    box-shadow: 0px 0px 10px rgba(000, 000, 000, 0.1);
}

.unfold-header .unfold-navigation nav.toggle {
    display: block;
    width: 100%;
    padding: 4.2%;
    
    
    position: absolute;
    top: 130px;
    left: 0;
}

.unfold-header .unfold-navigation nav ul {
    list-style-type: none;
}

.unfold-header .unfold-navigation nav ul li {
    margin: 4px 0;
}

.unfold-header .unfold-navigation nav ul li a {
    transition: color 0.8s ease;
}

.unfold-header .unfold-navigation nav ul li a:hover{
    color: var(--opening-words);
}

@media(min-width: 768px){
    .unfold-header .unfold-navigation {
        padding: 30px 39px;
    }
    .unfold-header .unfold-navigation nav.toggle {
        padding: 5px 39px;
    }
}

/*Muda navbar*/
@media(min-width: 1024px){
    .unfold-header .unfold-navigation{
        padding: 30px 47px;
    }

    .unfold-header .unfold-navigation button {
        display: none;
    }

    .unfold-header .unfold-navigation nav.toggle {
        
    }
    
    .unfold-header .unfold-navigation nav {
        display: block;
    }

    .unfold-header .unfold-navigation nav .container {
        padding: 0;
        box-shadow: none;
    }

    .unfold-header .unfold-navigation nav .container ul {
        display: flex;
    }

    .unfold-header .unfold-navigation nav .container ul li:not(:first-child) {
        margin-left: 30px;
    }  

}

@media(min-width: 1366px){
    .unfold-header .unfold-navigation {
        padding: 30px 128px;
    }

    .unfold-header .unfold-navigation img {
        width: 165px;
    }

    .unfold-header .unfold-navigation nav .container ul li a {
        font-size: 1.7rem;
    }
}
