@keyframes animationDropdown {
    from {
        height: 0%;
    }
    to {
        height: 100%;
    }

}

@keyframes animationDropup {
    from {
        height: 100%;
    }
    to {
        height: 0%;
    }
}


@keyframes animationSkills {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}
