* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



:root{
    font-size: 62.5%;
    
    --background-main: #FFF;
    --background-secundary: #BCBCBC;
    --background-footer: #152136;
    --background-footer-secundary: #1C2940;
    --background-icons: #DDDDDD;
    --background-bar-inner: #D9D9D9;
    --background-modal: #754ef9cc;

    --opening-words: #754EF9;
    --secundary-text: #8A8FA3;
    --main-text: #32333C;
    --font-buttons: #FFF;
    --font-footer-span: #007BFF;

    --border-cards: #ECEFF8;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lni {
    display: block;
    color: var(--opening-words);
}

h1, h2, h3, p {
    
    font-size: 1.5rem;
    line-height: 1.2;
    color: var(--secundary-text);
}

h1 {
    font-size: 3.0rem;
    color: var(--opening-words);
    font-weight: 700;
}

h2 {
    font-size: 1.8rem;
    color: var(--main-text);
    font-weight: 500;
}

h3 {
    color: var(--main-text);
    font-weight: 400;
}

h3, p{
    line-height: 2.8rem;
}

h4 {
    font-size: 1.6rem;
    font-weight: 400;
}

h5 {
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--main-text);
}

h6 {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--background-main);
}

a{
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--secundary-text);
}

button {
    font-size: 1.5rem;
    font-weight: 500;
}

ul, li {
    list-style: none;
}

body {
    background-color: var(--background-main);
    position: relative;
}



@media(min-width: 768px){
    h3, p {
        font-size: 1.6rem;
    }

    h1 {
        font-size: 4.5rem;
    }

    h2 {
        font-size: 1.8rem;
    }
}

@media(min-width: 1600px) {
    h1, h2, h3, p {
        font-size: 1.7rem;
    }

    h1 {
        font-size: 4.7rem;
    }

    h2 {
        font-size: 1.9rem;
    }
}