.PopupWorkImage {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;

    background-color: rgba(000,000,000, 0.6);
    
    z-index: 99;
}

.PopupWorkImage div {
    align-self: flex-start;

    display: flex;
    width: 100%;
    padding: 20px 10px 0 10px;
    justify-content: space-between;
    align-items: center;
}

.PopupWorkImage div i {
    font-size: 20px;
    color: var(--background-main);
    
}

.PopupWorkImage ul {
    width: 100%;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;

    background-color: var(--background-secundary);
    position: absolute;
}

.PopupWorkImage ul img {
    width: 100%;
    object-fit: cover;
    flex: none;

    scroll-snap-align: start;
}