.about-me {
    max-width: calc(100vw - 5%);
    margin-bottom: 80px;
}

.about-me .apresentation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-me .short-presentation {
    margin-bottom: 40px;
    max-width: 690px;
}

.about-me .short-presentation h1 {
    margin-bottom: 20px;
}

.about-me .short-presentation h1, 
.about-me .short-presentation p {
    text-align: center;
}

 .about-me .long-presentation {
    margin-bottom: 20px;
}

 .about-me .long-presentation h2 {
    margin-bottom: 15px;
}


.about-me .private{
    margin-bottom: 50px;
}

.about-me .private ul li {
    display: flex;
    align-items: center;
}

.about-me .private ul li:not(:last-child){
    margin-bottom: 11px;
}

.about-me .private ul li i{
    font-size: 16px;
    color: var(--opening-words);

    margin-right: 13px;
}

.about-me .private ul li h3 {
    margin-right: 5px;
}

.about-me .skills ul {
    list-style: none;
}

.about-me .skills ul li:not(:last-child) {
    margin-bottom: 25px;
}

.about-me .skills ul li header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.about-me .skills ul li main div {
    height: 5px;
}

.about-me .skills ul li main{
    position: relative;
}

.about-me .skills ul li main .bar-progress {
    background-color: var(--opening-words);
    border-radius: 5px;

    position: absolute;
}

.about-me .skills ul li main .bar-progress.animated {
    animation-name: animationSkills;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

.about-me .skills ul li main .html {
    max-width: 80%;
}

.about-me .skills ul li main .css{
    max-width: 60%;
}

.about-me .skills ul li main .photoshop {
    max-width: 50%;
}

.about-me .skills ul li main .sketch{
    max-width: 90%;
}

.about-me .skills ul li main .bar-inner {
    background-color: var(--background-bar-inner);
    border-radius: 5px;
}



@media(min-width: 768px){
    .about-me .private ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media(min-width: 1024px) {
    .about-me .informations-additional {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 30px;
    }

    .about-me .private ul {
        grid-template-columns: 1fr;
    }
}

@media(min-width: 1366px){
    .about-me {
        max-width: 1280px;
    }

    .about-me .informations-additional {
        grid-template-columns: 1.5fr 1fr;
    }

    .about-me .private ul {
        grid-template-columns: 1fr 1fr;
    }
}